.ErrorPopup {
    width: 25rem;
    height: 8rem;
    margin: 4rem auto;
    background-color: #FF0000;
    box-shadow: 2px 2px 1rem #212121;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    font-size: 0.9rem;
  }
  
  .ErrorPopup:before {
    content: "\f058";
    font-family: FontAwesome;
    position: absolute;
    color: #fafafa;
    font-size: 10rem;
    opacity: 0.3;
    top: -2.5rem;
    right: -0.5rem;
  }
  
  .ErrorPopup p {
    padding: 0.5rem;
    color: #fafafa;
  }