.login {
  background-color: #003258;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-wrapper {
  background-color: #003258;
  height: 1024px;
  width: 1440px;
}

.login .overlap {
  background-image: url(./Rectangle.png);
  background-size: 100% 100%;
  height: 808px;
  left: 416px;
  position: relative;
  top: 112px;
  width: 608px;
}

.login .berlingske-media {
  background-image: url(./bm.png);
  height: 151px;
  left: 44px;
  position: absolute;
  top: 63px;
  width: 333px;
}

.login .text-wrapper {
  color: #ffffff;
  font-family: "Hanuman-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 300px;
}

.login .overlap-group {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 80px;
  left: 42px;
  position: absolute;
  top: 348px;
  width: 525px;
}

.login .div {
  color: #000000;
  font-family: "Hanuman-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 47px;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.login .div-wrapper {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 80px;
  left: 42px;
  position: absolute;
  top: 477px;
  width: 525px;
}

.login .text-wrapper-2 {
  color: #000000;
  font-family: "Hanuman-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 47px;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.login .frame {
  height: 60px;
  left: 102px;
  position: absolute;
  top: 606px;
  width: 200px;
}

.login .overlap-group-2 {
  border-radius: 20px;
  height: 60px;
  position: relative;
}

.login .rectangle {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
}

.login .text-wrapper-3 {
  color: #000000;
  font-family: "Hanuman-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.login .overlap-group-wrapper {
  height: 60px;
  left: 308px;
  position: absolute;
  top: 606px;
  width: 200px;
}

.login .text-wrapper-4 {
  color: #000000;
  font-family: "Hanuman-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}